PORT=8001
MONGODB_URI="mongodb+srv://hapanimayur:Love1224@cluster0.iyurgqh.mongodb.net"

CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=NrFDI4TRdbm2oqqX0BTzdetG9VbKQQKz
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=YP5igMJ0i3yy22wGw2S25NNMf84gc7bm
REFRESH_TOKEN_EXPIRY=10d

CLOUD_NAME=mayurcloud21
CLOUDINARY_API_KEY=399871733343238
CLOUDINARY_API_SECRET=yCCmAzqltfJmLVLc3O9fdvHG7Z4